/* Notes à faire:

Autres :
- import @
- responsive
- animations
- Mode Eng/FR
- zoom
- jour/nuit
- Stack principal / notions / à venir

- livres d'informatique en cours de Lecture

Importants :
- Email / contact
- fleche/bouton pour aller aux projets
- Police de caractère
- Photo
- Menu de nagivation
- Typewriter
- CV à télécharger : https://dev.to/erdeepbag/create-direct-download-link-from-github-files-35n7#:~:text=You%20can%20create%20direct%20download,this%20link%20for%20web%20development.
- Pour en savoir plus... CV

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.projects-page {
  min-height: 100vh;
  display: flex;
  justify-content: center; /* A VOIR SI SUPPRIMER */
  align-items: center;
  flex-direction: column;
}

/* Typewriter effect */

.welcome {
}

h1 {
  display: inline;
  /*border-bottom: 1px solid #72c3c9;*/
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header {
}

/* Body */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-page {
  background: linear-gradient(-45deg, #d4b2a7, #e9e3e3, #a1d0e0, #c3ece3);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* main page */

#showcase {
  background-position: center;
  background-color: #92eefa;
  text-align: center;
}

.read-button {
  font-size: 18px;
  text-decoration: none;
  border: #ca4a18 1px solid;
  border-radius: 40px;
  padding: 20px;
  margin: 4vh auto;
  min-width: 200px;
  max-width: 200px;
  cursor: pointer;
}

.read-button:hover {
  background-color: #ca4a18;
}

/* Header */

.welcome {
  margin: 2rem;
}

.links {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.links > a {
  margin: 0 0.5rem 0 0.5rem;
}

/* Projects */

.title-my-projects {
  /*text-align: center;*/
  margin: 3rem auto;
}

.upcoming-project {
  margin: 0rem 5rem 3rem 5rem;
  font-weight: bold;
  color: #7e8081;
  font-size: 15px;
  border: #c1d3d8 1px solid;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  cursor: wait;
}

.description {
  text-align: center;
}

/* Main */

/* All projects */

.projects-page {
  margin-bottom: 0;
}

.allprojects {
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 5px 5px rgb(202, 228, 236);
  display: flex;
  border-radius: 5px;
  margin: 2rem 0;
  background-color: #edf9fc;
  min-width: 20rem;
}

.description-project-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.description-projet {
  margin-top: 1rem;
}

.link-container {
  margin: 1rem 0rem 1rem auto;
  display: flex;
  flex-flow: row wrap;
}

.link-container > * {
  margin: 0.5rem;
  /*max-height: 2.5em;*/
  /*line-height: 3rem;*/
  text-decoration: none;
}

.link-project {
  background-color: #11b3c9; /* Green background */
  border: none;
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
}

.link-git {
  background-color: #a5afab; /* Green background */
  border: none;
  color: white; /* White text */
  padding: 10px 35px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
}

.link-project:hover {
  background-color: #a5afab;
}

.link-git:hover {
  background-color: #6ae6b4;
}

/* Frontend */

/* Backend */

/* CV */

.cv-page {
  background-color: #cfd4c8;
  height: 30vh;
  width: 100%;
  text-align: center;
}

.cv-title {
  border-bottom: 1px solid #72c3c9;
}

.cv-link {
  display: block;
  /*margin-top: 5rem;*/
}

/* Footer */

footer {
  background-color: #e3ebe8;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
@media (max-width: 800px) {
  * {
    color: blue;
  }

  .main-page {
  }

  .description-project-container {
  }

  .link-container {
    margin: 1rem 0rem 1rem auto;
  }
}*/
