/* Notes à faire:

- import @
- responsive
- animations
- Mode Eng/FR

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  /*max-width: 100vh;*/
  width: 90%;
}

.bienvenue {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */

.bienvenue {
  margin: 2rem;
}

.links {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.links > a {
  margin: 0 0.5rem 0 0.5rem;
}

.cv {
  margin: 2rem 0;
  text-align: center;
}

.projectsdescription {
  margin: 2rem 0;
  text-align: center;
}

.description {
  text-align: center;
}

/* Main */

/* All projects */

.projects {
}

.allprojects {
  border: 2px solid rgb(191, 191, 201);
  box-shadow: 5px 5px rgb(202, 228, 236);
  display: flex;
  border-radius: 5px;
  /*min-width: 50rem;*/
  position: relative;
  margin: 2rem 0;
}

.description-projet-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.description-projet {
  margin-top: 1rem;
}

.link-container {
  margin: 1rem 5rem 1rem auto;
}

.link-container > * {
  margin: 0.5rem;
  /*max-height: 2.5em;*/
  line-height: 3rem;
  text-decoration: none;
}

.link-project {
  background-color: #11b3c9; /* Green background */
  border: none;
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
}

.link-git {
  background-color: #a5afab; /* Green background */
  border: none;
  color: white; /* White text */
  padding: 10px 35px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
}

.link-project:hover {
  background-color: #a5afab;
}

.link-git:hover {
  background-color: #6ae6b4;
}

/* Frontend */

/* Backend */

.bprojects {
  /*margin: 2rem 0;*/
}

/* Footer */

footer {
  text-align: center;
  margin: 3em;
}
